
/* header Css*/
header{
    background-color: #CE2829;
    width: 100%;
    position: fixed;
    top: 0;
}
.headerNav {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.orderFormNav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    
}