
/* header Css*/
header{
    background-color: #CE2829;
}
.headerNav {
}
.headerNav {
    width: 50%; /* Genişlik yarıya düşürüldü */
    padding: 10px;
}

/* Gerekirse crumb stillerini değiştirin */
.crumb {
    /* İstenilen stiller */
}

.orderFormNav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    
}
/*OrderForm Css*/
.container{
    display: flex;
    justify-content: center;
}

.orderFormSecondDiv{

}